@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-light: 0, 0, 0;
  --background-light: 255, 255, 255;
} */

nav {
  font-family: "Special Elite", system-ui;
}

/* Light Mode Styles */
body {
  @apply bg-parchment-50 text-stone-800;
}

/* Dark Mode Styles */
.dark body {
  @apply bg-smoke-50 text-parchment-100;
}

/* Quill Editor */
.react-quill .ql-editor {
  @apply h-72;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}
